<template>
    <v-layout align-center justify-center row fill-height>
        <v-flex xs12 sm8 md4 >
            <v-card class="elevation-12">
                <v-toolbar dark color="primary">
                    <v-toolbar-title>Add book</v-toolbar-title>
                </v-toolbar>
                <template v-if="!isLoading && !isBookCreationSuccessful">
                  <v-card-text>
                      <v-form ref="form" v-model="valid" lazy-validation>

                        <v-text-field
                          v-model="title"
                          :rules="rules.title"
                          label="Title"
                          required
                          :disabled="isFormSubmitted"
                        ></v-text-field>

                        <v-text-field
                          v-model="authors"
                          :rules="rules.authors"
                          label="Authors"
                          hint="Enter multiple authors separated by comma"
                          required
                          :disabled="isFormSubmitted"
                        ></v-text-field>

                        <v-text-field
                          v-model="publisher"
                          :rules="rules.publisher"
                          label="Publisher"
                          required
                          :disabled="isFormSubmitted"
                        ></v-text-field>

                        <v-select
                          v-model="category"
                          :items="categories"
                          :rules="rules.category"
                          label="Category"
                          return-object
                        ></v-select>

                        <v-textarea
                          v-model="foreword"
                          :rules="rules.foreword"
                          label="Foreword"
                          :counter="200"
                          required
                          :disabled="isFormSubmitted"
                        ></v-textarea>

                        <v-textarea
                          v-model="content"
                          :rules="rules.content"
                          label="Content"
                          :counter="5000"
                          required
                          :disabled="isFormSubmitted"
                        ></v-textarea>

                        <v-text-field
                          v-model="numberOfItems"
                          :rules="rules.numberOfItems"
                          type="number"
                          min="1"
                          label="Number of items"
                          required
                          :disabled="isFormSubmitted"
                        ></v-text-field>

                      </v-form>
                  </v-card-text>

                  <v-card-actions>
                      <v-spacer></v-spacer>

                        <v-btn
                          :disabled="!valid || isFormSubmitted"
                          @click="submit"
                          color="primary">
                          submit
                        </v-btn>

                        <v-btn
                          @click="clear"
                          color="primary"
                          :disabled="isFormSubmitted">
                          clear
                        </v-btn>
                  </v-card-actions>
                </template>
                <template v-else-if="isLoading && !isBookCreationSuccessful">
                  <v-progress-linear :indeterminate="true"></v-progress-linear>
                </template>

                <v-alert
                  v-model="isBookCreationSuccessful"
                  transition="scale-transition"
                  origin="center center"
                  type="success" >
                  Book created successfully.
                  <br>
                </v-alert>

                <v-alert
                  v-model="isBookCreationFailed"
                  transition="scale-transition"
                  origin="center center"
                  type="error">
                  {{ errorMessage || 'Something went wrong... Please try again.' }}
                </v-alert>
            </v-card>
        </v-flex>
    </v-layout>
</template>

<script>
import BookService from '@/services/BookService'

export default {
  data () {
    return {
      valid: false,
      title: '',
      authors: '',
      publisher: '',
      categories: [],
      category: '',
      foreword: '',
      content: '',
      numberOfItems: 1,
      rules: {
        title: [
          v => !!v || 'Title is required'
        ],
        authors: [
          v => !!v || 'Authors are required'
        ],
        publisher: [
          v => !!v || 'Publisher is required'
        ],
        category: [
          v => !!v || 'Category is required'
        ],
        foreword: [
          v => !!v || 'Foreword is required',
          v => (v && v.length <= 200) || 'Foreword cannot be longer than 200 characters'
        ],
        content: [
          v => !!v || 'Content is required',
          v => (v && v.length <= 5000) || 'Foreword cannot be longer than 5000 characters'
        ],
        numberOfItems: [
          v => !!v || 'Number of items is required',
          v => (v && v > 0 && v <= 10) || 'Please enter a number between 1 and 10.'
        ]
      },
      isBookCreationSuccessful: false,
      isBookCreationFailed: false,
      errorMessage: '',
      isFormSubmitted: false,
      isLoading: false
    }
  },
  created () {
    this.getCategories()
  },
  methods: {
    getCategories () {
      BookService.getCategories()
        .then((response) => {
          for (let i in response.data) {
            this.categories.push({
              value: i,
              text: response.data[i]
            })
          }
        })
    },
    submit () {
      if (this.$refs.form.validate()) {
        this.isFormSubmitted = true
        this.isLoading = true
        this.isBookCreationFailed = false

        BookService.add({
          title: this.title,
          authors: this.authors,
          publisher: this.publisher,
          category: this.category.value,
          foreword: this.foreword,
          content: this.content,
          numberOfItems: this.numberOfItems
        })
          .then(() => {
            this.isBookCreationSuccessful = true
            setTimeout(() => this.$router.push('borrow'), 2000)
          }).catch((error) => {
            this.isFormSubmitted = false
            this.isBookCreationFailed = true
            this.errorMessage = error.response.data.message
            setTimeout(() => {
              this.isBookCreationFailed = false
              this.errorMessage = ''
            }, 3000)
          }).finally(() => {
            this.isLoading = false
          })
      }
    },
    clear () {
      this.isFormSubmitted = false
      this.isBookCreationFailed = false
      this.$refs.form.reset()
    }
  }
}
</script>
