<template>
  <div>
    <h5 class="headline">All books</h5>
    <v-data-table
      :headers="headers.all"
      :items="books"
      class="elevation-1"
    >
      <template slot="items" slot-scope="props">
        <td>{{ props.item.title }}</td>
        <td>{{ props.item.authors }}</td>
        <td>{{ props.item.publisher }}</td>
        <td>{{ props.item.category }}</td>
        <td>{{ props.item.numberOfItems }}</td>
        <td>
          <v-btn
            @click="showForeword(props.item.id)"
            slot="activator"
            color="info"
          >
            Read foreword
          </v-btn>
          <v-btn
            v-show="props.item.borrowable"
            @click="borrowBook(props.item.id)"
            color="success">
            borrow
          </v-btn>
      </td>
      </template>
    </v-data-table>
    <v-dialog
      v-model="dialog"
      width="500"
    >
      <v-card>
        <v-card-title
          class="headline grey lighten-2"
          primary-title
        >
          Foreword
        </v-card-title>

        <v-card-text>
          {{ foreword }}
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="primary"
            flat
            @click="hideForeword"
          >
            Close
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <h5 class="headline">Borrowed by me</h5>
    <v-data-table
      :headers="headers.byUser"
      :items="booksByUser"
      class="elevation-1"
    >
      <template slot="items" slot-scope="props">
        <td>{{ props.item.title }}</td>
        <td>{{ props.item.authors }}</td>
        <td>{{ props.item.publisher }}</td>
        <td>{{ props.item.category }}</td>
        <v-btn
          @click="returnBook(props.item.id)"
          color="error">
          return
        </v-btn>
      </template>
    </v-data-table>
    <v-alert
      v-model="isActionSuccessful"
      transition="scale-transition"
      origin="center center"
      type="success" >
      {{ successMessage }}
      <br>
    </v-alert>

    <v-alert
      v-model="isActionFailed"
      transition="scale-transition"
      origin="center center"
      type="error">
      {{ errorMessage || 'Something went wrong... Please try again.' }}
    </v-alert>
  </div>
</template>

<style>
  .headline:last-of-type {
    margin-top: 50px;
  }
</style>

<script>
import BookService from '@/services/BookService'

export default {
  data () {
    return {
      headers: {
        all: [
          { text: 'Title', value: 'title' },
          { text: 'Authors', value: 'authors' },
          { text: 'Publisher', value: 'publisher' },
          { text: 'Category', value: 'category' },
          { text: 'Number of items', value: 'numberOfItems', width: '5%' }
        ],
        byUser: [
          { text: 'Title', value: 'title' },
          { text: 'Authors', value: 'authors' },
          { text: 'Publisher', value: 'publisher' },
          { text: 'Category', value: 'category' }
        ]
      },
      books: [],
      booksByUser: [],
      dialog: false,
      foreword: '',
      isActionSuccessful: false,
      isActionFailed: false,
      successMessage: '',
      errorMessage: ''
    }
  },
  created () {
    this.getBooks()
    this.getBooksByUser()
  },
  methods: {
    getBooks () {
      BookService.getBooks()
        .then((response) => {
          this.books = response.data
        })
    },
    getBooksByUser () {
      BookService.getBooksByUser()
        .then((response) => {
          this.booksByUser = response.data
        })
    },
    borrowBook (id) {
      BookService.borrowBook(id)
        .then((response) => {
          this.isActionSuccessful = true
          this.successMessage = 'Book ' + response.data.title + ' borrowed successfully.'
          this.getBooks()
          this.getBooksByUser()
          setTimeout(() => {
            this.isActionSuccessful = false
          }, 3000)
        }).catch((error) => {
          this.isActionFailed = true
          this.errorMessage = error.response.data.message
          setTimeout(() => {
            this.isActionFailed = false
            this.errorMessage = ''
          }, 3000)
        })
    },
    returnBook (id) {
      BookService.returnBook(id)
        .then((response) => {
          this.isActionSuccessful = true
          this.successMessage = 'Book ' + response.data.title + ' returned successfully.'
          this.getBooks()
          this.getBooksByUser()
          setTimeout(() => {
            this.isActionSuccessful = false
          }, 3000)
        }).catch((error) => {
          this.isActionFailed = true
          this.errorMessage = error.response.data.message
          setTimeout(() => {
            this.isActionFailed = false
            this.errorMessage = ''
          }, 3000)
        })
    },
    showForeword (id) {
      for (let i = 0; i < this.books.length; i++) {
        let book = this.books[i]
        if (book.id === id) {
          this.foreword = book.foreword
          break
        }
      }
      this.dialog = true
    },
    hideForeword () {
      this.foreword = ''
      this.dialog = false
    }
  }
}
</script>
