<template>
    <v-toolbar dark color="primary">
        <v-toolbar-title>
          InnoBoox - Library Manager
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-items class="hidden-sm-and-down">
        <v-btn flat to='/welcome' active-class="v-btn--active">
            home
        </v-btn>
        <v-btn to="/borrow" active-class="v-btn--active" flat exact v-if="this.$store.state.authenticated">
            borrow book
        </v-btn>
        <v-btn to="/add" active-class="v-btn--active" flat exact v-if="this.$store.state.authenticated">
            add new book
        </v-btn>
        <v-btn @click="logout" active-class="v-btn--active" flat exact v-if="this.$store.state.authenticated">
            log out
        </v-btn>
      </v-toolbar-items>
    </v-toolbar>
</template>

<script>
export default {
  methods: {
    logout () {
      this.$store.commit('LOGOUT')
      this.$router.push('home')
    }
  }
}
</script>
