<template>
  <v-layout
    column
    wrap
    class="my-5"
    justify-center
    align-center
  >

    <h1 class="mb-2 display-1 text-xs-center">InnoBoox - Library Manager</h1>
    <v-btn
      class="blue lighten-2 mt-2"
      dark
      large
      v-if="!this.$store.state.authenticated"
    >
     <router-link to="/login" tag="span">sign in</router-link>
    </v-btn>
  </v-layout>
</template>
