<template>
    <v-layout align-center justify-center row fill-height>
        <v-flex xs12 sm8 md4 >
            <v-card class="elevation-12">
                <v-toolbar dark color="primary">
                    <v-toolbar-title>Sign in</v-toolbar-title>
                </v-toolbar>

                <v-card-text>
                    <v-form>
                        <v-text-field
                            prepend-icon="mail"
                            v-model="username"
                            label="Email"
                            type="text"
                            required>
                        </v-text-field>
                        <v-text-field
                            prepend-icon="lock"
                            v-model="password"
                            label="Password"
                            type="password"
                            required>
                        </v-text-field>
                    </v-form>
                </v-card-text>

                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn @click="login" color="primary" v-show="!isLoading">Sign in</v-btn>
                    <v-progress-linear :indeterminate="true" v-show="isLoading"></v-progress-linear>
                </v-card-actions>

                <v-alert
                  v-model="isLoginSuccessful"
                  transition="scale-transition"
                  origin="center center"
                  type="success" >
                  Successfully signed in.
                  <br>
                </v-alert>

                <v-alert
                  v-model="isLoginFailed"
                  transition="scale-transition"
                  origin="center center"
                  type="error">
                  Wrong email or password.
                </v-alert>
            </v-card>
        </v-flex>
    </v-layout>
</template>

<script>
import UserService from '@/services/UserService'

export default {
  data () {
    return {
      username: '',
      password: '',
      isLoading: false,
      isLoginSuccessful: false,
      isLoginFailed: false
    }
  },
  methods: {
    login () {
      this.isLoginFailed = false
      this.isLoading = true
      UserService.login({
        username: this.username,
        password: this.password
      })
        .then(response => {
          this.isLoginSuccessful = true
          this.$store.commit('LOGIN_SUCCESS', response)
          setTimeout(() => this.$router.push('welcome'), 2000)
        })
        .catch(() => {
          this.isLoginFailed = true
          setTimeout(() => {
            this.isLoginFailed = false
          }, 3000)
        })
        .finally(() => {
          this.isLoading = false
        })
    }
  }
}
</script>
