<template>
  <v-layout
    column
    wrap
    class="my-5"
    justify-center
    align-center
  >

    <v-container grid-list-xl>
      <v-layout row wrap align-center>
        <v-flex xs12 md12>
          <h1 class="mb-2 display-1 text-xs-center">Welcome back, {{ username }}!</h1>
          <div class="subheading mb-3 text-xs-center">
            This is InnoBoox - a library manager application created for Innodox.
          </div>
        </v-flex>
      </v-layout>
    </v-container>
  </v-layout>
</template>

<script>
import UserService from '@/services/UserService'

export default {
  data () {
    return {
      username: ''
    }
  },
  created () {
    this.getUsername()
  },
  methods: {
    getUsername () {
      UserService.getUsername()
        .then((response) => {
          this.username = response.data
        })
    }
  }
}
</script>
